.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
    margin-top: 50px;
}
.category {
    flex-basis: 48%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(45deg, #ff0084, #33001b);
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.category:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.category img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.category h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: white;
}
