table {
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
}
table th, table td {
    padding: 15px 30px;
    text-align: left;
}
table th {
    color: #fafafa;
    font-weight: 600;
    background-color: skyblue;
}
table tbody tr {
    border-top: 1px solid #f0f4f8;
}
tr:nth-child(odd){
    background-color: #eeeeee;
}